/*color pallet
white: #F9F9F9
sky: #D1DBE5
deep: #23445F
pearl: #51779C
cobalt: #7595B2
carbon: #8FAFC7
skin: #C2A69F
*/

#pallet {
  position: absolute;
  top: 0;
  left: 0;
  height: 5em;
  width: 5em;
}

#pallet p {
  width: 50%;
  height: 50%;
}

#pallet p:nth-child(1) {
  background: #f9f9f9;
}

#pallet p:nth-child(2) {
  background: #d1dbe5;
}

#pallet p:nth-child(3) {
  background: #23445f;
}

#pallet p:nth-child(4) {
  background: #51779c;
}

#pallet p:nth-child(5) {
  background: #7595b2;
}

#pallet p:nth-child(6) {
  background: #8fafc7;
}

#pallet p:nth-child(7) {
  background: #c2a69f;
}


/*----------------------------------------------GLOBAL START------------------------*/

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, 'Inconsolata', monospace;
  font-weight: 300;
  font-size: calc(11px + (26 - 19) * ((100vw - 300px) / (1600 - 300)));
}

.white {
  color: #F9F9F9
}

.sky {
  color: #D1DBE5
}

.deep {
  color: #23445F
}

.pearl {
  color: #51779C
}

.cobalt {
  color: #7595B2
}

.carbon {
  color: #8FAFC7
}

.skin {
  color: #C2A69F
}

.gray {
  color: #333;
}

.black {
  color: #000;
}

.row {
  margin: 0;
}

a:hover, a:focus, a:visited {
  text-decoration: none;
}


/*----------------------------------------------GLOBAL END--------------------------*/


/*----------------------------------------------NAVBAR START------------------------*/

nav {
  z-index: 99999;
}

.navbar ul li {
  text-transform: uppercase;
}

.navbar ul {
  padding-left: 15vw;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  border: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
  font-weight: bolder;
  font-size: 1.2em;
  letter-spacing: 0.13em;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #23445F;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}


/*----------------------------------------------NAVBAR END-------------------------*/


/*----------------------------------------------SECTIONS START---------------------*/

#home, #testemonial, #surf, #training, #point, #contact {
  height: 100vh;
}


/*----------------------------------------------SECTIONS END-----------------------*/


/*----------------------------------------------HOME START-------------------------*/

#power-q {
  margin-top: 33vh;
}

#home img {
  width: 66%;
  FLOAT: right;
  z-index: -1;
  margin-top: 8vh;
  position: absolute;
  right: 8.3vw;
}

#little {
  letter-spacing: 0.7em;
  font-size: 1.2em;
}

#home .gray {
  color: #888;
  letter-spacing: .1em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#home h2.black {
  font-size: -webkit-xxx-large;
  font-weight: bolder;
  font-family: 'PT Serif', serif;
  margin-bottom: 20px;
  color: #51779C;
}


/*----------------------------------------------HOME END---------------------------*/


/*----------------------------------------------STORIES START----------------------*/

#quote h2 {
  font-family: 'Playfair Display', serif;
  font-size: 27px;
  letter-spacing: 0.03em;
  color: #666;
  font-weight: lighter;
}

#quote p, #quote h2 {
  text-align: center;
}

#quote p {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: .3em;
}

#liner {
  border-right: #8FAFC7 solid 3px;
  height: 15vh;
  margin-top: 33px;
}

#img-wrapper {
  margin-top: 50px;
}

#one {
  z-index: -1;
}

#two {
  position: absolute;
  right: 8vw;
  top: 11vw;
}

#story-quote {
  font-family: 'Playfair Display', serif;
}

#story-quote p {
  padding-top: 7.5%;
  margin-bottom: 20px;
  padding-left: 15px;
}

#story-quote a {
  border-bottom: 3px #8FAFC7 solid;
  letter-spacing: 0.3em;
  font-size: 1.1em;
  margin-left: 15px;
  padding-bottom: 15px;
}

#story-quote a:focus, #story-quote a:hover, #story-quote a:visited {
  color: #23445F;
  text-decoration: none;
}


/*----------------------------------------------STORIES END------------------------*/


/*----------------------------------------------SURF START-------------------------*/

#surf {
  margin-top: 45vh;
}

#surf .carousel {
  height: auto;
  width: 98vw;
  padding-right: 0;
  padding-bottom: 15vh;
}

.carousel-control {
  width: 8.33333333%;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  filter: none;
  background-repeat: repeat-x;
}

.carousel-inner {
  width: 85.3%;
  margin: auto;
}

.carousel-inner .col-md-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-inner .col-md-4 img {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(194, 166, 159, 0) 50%, rgba(194, 166, 159, 0.3) 50%, rgba(194, 166, 159, 0.6) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(194, 166, 159, 0) 50%, rgba(194, 166, 159, 0.3) 50%, rgba(194, 166, 159, 0.6) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(194, 166, 159, 0) 50%, rgba(194, 166, 159, 0.3) 50%, rgba(194, 166, 159, 0.6) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f9f9f9', GradientType=0);
  /* IE6-9 */
  padding: 0px 25px;
}

.info {
  display: block;
  position: absolute;
  font-family: 'Playfair Display', serif;
  width: 100%;
  margin-top: 15%;
}

.info-inner {
  width: 50%;
  float: right;
  text-transform: uppercase;
  font-size: 1.07em;
}

.info-inner span {
  display: block;
  text-align: center;
}

#price {
  font-size: 1.5em;
}

.info-inner .black {
  margin: 0;
  letter-spacing: 0.15em;
}

.board-name {
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  letter-spacing: -0.02em;
}

#show {
  width: 100%;
  margin: auto;
  text-align: center;
  float: left;
  text-transform: uppercase;
  padding-top: 5%;
}

#show:hover, #show:focus, #show:visited {
  text-decoration: none;
}

#show::after {
  width: 5%;
  height: 3px;
  background: #8FAFC7;
  display: block;
  content: " ";
  margin: auto;
  margin-top: 0.7em;
}

#surf-title {
  display: block;
  text-align: center;
  margin: auto;
}

#surf-title span {
  letter-spacing: 0.7em;
}

#surf-title h2 {
  margin-top: 0px;
  font-weight: bolder;
  font-size: 3.5em;
  font-family: serif;
  letter-spacing: 0.07em;
}

.buy {
  letter-spacing: 0.3em;
}


/*----------------------------------------------SURF END---------------------------*/


/*----------------------------------------------TRAINING START---------------------*/

#training {
  padding-top: 30vh;
}

#train-img-wrapper {
  max-width: 100vh;
  overflow: hidden;
  height: 44vh;
}

#train-img-wrapper img {
  margin-top: -10%;
}

#training #num {
  font-size: 18em;
  font-family: sans-serif;
  position: absolute;
  top: -30vh;
  color: rgba(150, 150, 150, 0.1);
}

#training-read::after {
  width: 22%;
  height: 3px;
  background: #8FAFC7;
  display: block;
  content: " ";
  margin-top: 0.7em;
  margin-left: 0;
}


/*----------------------------------------------TRAINING END-----------------------*/


/*----------------------------------------------SOCIAL START-----------------------*/

#social {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
}

#social p {
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  white-space: nowrap;
  padding-bottom: 33%;
  padding-right: 33%;
  text-transform: uppercase;
  color: #ddd;
  margin-top: 50px;
}

#social-icon i {
  width: 100%;
  text-align: center;
  padding: 8px;
  font-size: x-large;
  color: #ddd;
  transition: 2.5s ease;
}

#social-icon i:hover {
  color: #333;
  -webkit-transition: 2.5s ease;
  -o-transition: 2.5s ease;
  transition: 2.5s ease;
}

#social-icon {
  position: absolute;
  width: 66%;
  top: 80vh;
}


/*----------------------------------------------SOCIAL END-------------------------*/


/*----------------------------------------------MOBILE ONLY START------------------*/

@media only screen and (max-width: 768px) {
  #surf .carousel {
    width: auto;
  }
}


/*----------------------------------------------MOBILE ONLY END--------------------*/


/*----------------------------------------------TABLET & MOBILE START--------------*/

@media only screen and (max-width: 992px) {
  #surf {
    margin-top: 15vh;
    height: auto;
  }
  #home img {
    width: 88vw;
  }
  #power-q {
    margin-top: 5vh;
  }
  #liner {
    width: 50%;
  }
}


/*----------------------------------------------TABLET & MOBILE END----------------*/


/*----------------------------------------------TABLET ONLY START------------------*/

@media only screen (min-width: 768px) and (max-width: 992px) {}


/*----------------------------------------------TABLET ONLY END--------------------*/


/*----------------------------------------------DESKTOP ONLY START-----------------*/

@media only screen and (min-width: 992px) {
  #home .col-md-offset-1 {
    margin-left: 9.333333%;
  }
}


/*----------------------------------------------DESKTOP ONLY END-------------------*/
