/*color pallet
white: #F9F9F9
sky: #D1DBE5
deep: #23445F
pearl: #51779C
cobalt: #7595B2
carbon: #8FAFC7
skin: #C2A69F
*/

#pallet {
  position: absolute;
  top: 0;
  left: 0;
  height: 5em;
  width: 5em;
}

#pallet p {
  width: 50%;
  height: 50%;
}

#pallet p:nth-child(1) {
  background: #f9f9f9;
}

#pallet p:nth-child(2) {
  background: #d1dbe5;
}

#pallet p:nth-child(3) {
  background: #23445f;
}

#pallet p:nth-child(4) {
  background: #51779c;
}

#pallet p:nth-child(5) {
  background: #7595b2;
}

#pallet p:nth-child(6) {
  background: #8fafc7;
}

#pallet p:nth-child(7) {
  background: #c2a69f;
}


/*----------------------------------------------GLOBAL START------------------------*/

* {
  font-family: 'Inconsolata', monospace;
}

.white {
  color: #F9F9F9
}

.sky {
  color: #D1DBE5
}

.deep {
  color: #23445F
}

.pearl {
  color: #51779C
}

.cobalt {
  color: #7595B2
}

.carbon {
  color: #8FAFC7
}

.skin {
  color: #C2A69F
}

.gray {
  color: #333;
}

.black {
  color: #000;
}

.row {
  margin: 0;
}


/*----------------------------------------------GLOBAL END--------------------------*/


/*----------------------------------------------NAVBAR START------------------------*/

.navbar ul li {
  text-transform: uppercase;
}

.navbar ul {
  padding-left: 15vw;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  border: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
  font-weight: bolder;
  font-size: 1.2em;
  letter-spacing: 0.13em;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #23445F;
}


/*----------------------------------------------NAVBAR END-------------------------*/


/*----------------------------------------------SECTIONS START---------------------*/

#home, #testemonial, #surf, #training, #point, #contact {
  height: 100vh;
}


/*----------------------------------------------SECTIONS END-----------------------*/


/*----------------------------------------------HOME START-------------------------*/

@media (min-width: 992px) {
  #home .col-md-offset-1 {
    margin-left: 9.333333%;
  }
}

#power-q {
  margin-top: 33vh;
}

#home img {
  width: 66%;
  FLOAT: right;
  z-index: -1;
  margin-top: 8vh;
  position: absolute;
  right: 8.3vw;
}

#little {
  letter-spacing: 0.7em;
  font-size: 1.2em;
}

#home .gray {
  color: #888;
  letter-spacing: .1em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#home h2.black {
  font-size: -webkit-xxx-large;
  font-weight: bolder;
  font-family: 'PT Serif', serif;
  margin-bottom: 20px;
}


/*----------------------------------------------HOME END---------------------------*/


/*----------------------------------------------STORIES START----------------------*/

#quote h2 {
  font-family: 'Playfair Display', serif;
  font-size: 27px;
  letter-spacing: 0.03em;
  color: #666;
  font-weight: lighter;
}

#quote p, #quote h2 {
  text-align: center;
}

#quote p {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: .3em;
}

#liner {
  border-right: #8FAFC7 solid 3px;
  height: 15vh;
  margin-top: 33px;
}

#img-wrapper {
  margin-top: 50px;
}

#one {
  z-index: -1;
}

#two {
  position: absolute;
  right: 8vw;
  top: 11vw;
}


/*----------------------------------------------STORIES END------------------------*/


/*----------------------------------------------SOCIAL START-----------------------*/

#social {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
}

#social p {
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  white-space: nowrap;
  padding-bottom: 33%;
  padding-right: 33%;
  text-transform: uppercase;
  color: #ddd;
  margin-top: 50px;
}

#social-icon i {
  width: 100%;
  text-align: center;
  padding: 8px;
  font-size: x-large;
  color: #ddd;
  transition: 2.5s ease;
}

#social-icon i:hover {
  color: #333;
  -webkit-transition: 2.5s ease;
  -o-transition: 2.5s ease;
  transition: 2.5s ease;
}

#social-icon {
  position: absolute;
  width: 66%;
  top: 80vh;
}


/*----------------------------------------------SOCIAL END-------------------------*/
